@{

}
<h1>@ViewData["Select Indumentaria"]</h1>
<form action='@Url.Action("GuardarIndumentaria")'>
    <h3>Seleccione su equipo:</h3><br>
<div id="Formulario">
    @{
        int i=1;
        foreach (var item in ViewBag.Listaequipos)
        {
            <b>@i. @item</b>
            i++;
        }
    }
    <input type="number" max="10" min="1" step="1" name="Equipo">
</div>
<div id="Formulario">
    @{
        int k=1;
        foreach (var item in ViewBag.ListaRemeras)
        {
            <b>@k. <img src="/img/Camisetas/@item" alt="wwwroot"></b>
            k++;
        }
    }
    <input type="number" max="10" min="1" step="1" name="Remera">
</div>
<div id="Formulario">
    @{
        int p=1;
        foreach (var item in ViewBag.ListaShorts)
        {
            <b>@p. <img src="/img/Shorts/@item" alt="wwwroot"></b>
            p++;
        }
    }
    <input type="number" max="10" min="1" step="1" name="Pantalon">
</div>
<div id="Formulario">
    @{
        int a=1;
        foreach (var item in ViewBag.ListaMedias)
        {
            <b>@a. <img src="/img/Medias/@item" alt="wwwroot"></b>
            a++;
        }
    }
    <input type="number" max="10" min="1" step="1" name="Media">
</div>
<input type="submit" value="Submit Formulario"><br>
<input type="reset" value="Reset Formulario">
</form>
 <p>@ViewBag.Error</p>
